.App {
  text-align: center;
}

.home-box{
  width: 26rem;
  margin-top: 5rem;
  display: inline-block;
}

.box{
  width: 8rem;
  height: 8rem;
  border: medium solid darkred;
  background-color: white;
  color: black;
}

.home-box div{
  display: inline-block;
}

.blank-box{
  background-color: silver;
}


