.App {
  text-align: center;
}

.home-box{
    width: 26rem;
    margin: auto;
    margin-top: 5rem;
    display: inline-block;
}

.home-box div{
  width: 8rem;
  height: 8rem;
  display: inline-block;
}

.box{
  border: medium solid darkred;
  margin: -0.1rem 0rem;
  background-color: white;
  color: black;
}

.x-box{

}

.o-box{

}

.blank-box{
  background-color: silver;
}


